@import "colors.scss";

header#cabecalho {
    // background-color: red;
    grid-area: h;

    background: $header-color;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    height: 80%;
    margin-left: 10px;
}


ul.principal-menu {
    list-style: none;
    margin-right: 10px;

    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}
ul.principal-menu a {
    color: $titles-color;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    transition: font-size 0.3s;
}

ul.principal-menu li:hover a {
    font-size: 1.1rem;
}
