@import "colors.scss";

@font-face {
    font-family: 'cocogoose';
    src: url("../fonts/Cocogoose.ttf");
}

@mixin titles-font-size {
    font-size: 2.5rem;
}

main#corpo {
    // background-color: yellow;
    grid-area: m;

    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: stretch;
}


/* ARTICLES */

// Intro
article#intro {
    background: $header-color;
    position: relative;

    height: 80vh;
    
    div.text-container {
        position: absolute;
        left: 26vw;
        top: 7vh;

        opacity: 0;
        transform: translateY(30px);

        animation: appear_text 0.9s linear 0.3s 1 normal;
        animation-fill-mode: forwards;

        h1 {
            color: $big-title-color;
            font-size: 5rem;
            line-height: 1.1;
            font-weight: bold;
            letter-spacing: 3px;
            font-family: 'cocogoose', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

            

            display: block;
            width: 100%;
        }
        a {
            display: block;
            margin-left: 55%;
        
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bold;
            font-size: 0.9rem;
        
            transition: font-size 0.3s;
            
            &:hover {
                font-size: 1.1rem
            }
        }
    }
}
.container-text {
    width: 100%;
    
    p {
        display: block;

        margin-top: -4%;

        font-size: 0.6rem;
        font-family: cursive;
        width: 50%;
        margin-left: 55%;
    }
}

img.muscle-man {
    position: absolute;
    bottom: 0px;
    left: 5%;
    height: 90%;
    opacity: 0;
    transform: translateX(-30px);

    animation: appear 0.9s linear 0.3s 1 normal;
    animation-fill-mode: forwards;
}

@keyframes appear {
    from {
        transform: translateX(-30px);
        opacity: 0;
    }
    to {
        transform: translate(0px);
        opacity: 1;
    }
}
@keyframes appear_text {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}



// Incentivo
article#incentivo {
    min-height: 98vh;
    position: relative;
    
    .text-container {
        width: fit-content;

        padding: 50px 15px;
        border: 4px solid $generic-orange;

        opacity: 0;
        transform: translateY(60px);

        position: absolute;
        top: 16vh;
        left: 25%;

        max-width: 350px;

        transition: transform 1.5s, opacity 1.5s;
        
        h2 {
            @include titles-font-size;
            display: block;
            font-family: 'cocogoose';

            width: 150%;
            margin-left: -44%;
            letter-spacing: 3px;
        }
        
        p {
            font-size: 0.6rem;
            font-family: cursive;
            line-height: 1.8;
            margin: 30px 0;
        }
    }
}

.push-up-girl {
    display: block;
    position: absolute;
    right: 10%;
    max-width: 50%;
    bottom: 0;
}



// Staff
article#staff {
    background-color: $container-color;
    color: white;

    h2 {
        @include titles-font-size;
        font-family: 'cocogoose';
        margin-top: 40px;
    }
    .text-container {
        padding: 50px 70px;

        /* VAI SER ALTERADO */
        opacity: 0;
        transform: translateY(60px);
        transition: opacity 1.5s, transform 1.5s;
        //
        
        p {
            margin-top: 30px;
            font-size: 0.6rem;
            font-family: cursive;
            line-height: 1.5;
            width: 45%;
            margin-bottom: 20px;
        }
    }
    ul {
        list-style: none;
        display: flex;

        flex-flow: row nowrap;

        align-items: stretch;
        justify-content: center;

        li:hover {
            .traineer-image {
                filter: none;
            }
            figcaption {
                opacity: 1;
                transform: translateY(20px);
            }
        }

        .traineer-image {
            width: 100%;
            vertical-align: middle;
            filter: grayscale(1);
            transition: filter 0.5s;
        }
        figure {
            position: relative;
        }
        figcaption {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            margin: auto;
            
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: flex-end;

            opacity: 0;
            padding: 10px;
            border: 4px solid $generic-orange;
            color: $titles-color;
            height: 115%;
            width: 90%;
            
            transition: opacity 0.5s, transform 0.5s;
        }
    }
}



// Prices
article#prices {
    display: flex;
    justify-content: center;
    align-items: center;
}

#price-container {
    width: 80%;

    h2 {
        @include titles-font-size;
        font-family: 'cocogoose';
        margin-top: 130px;
        margin-bottom: 50px;
    }
}

.price-list {
    list-style: none;
    display: flex;
    gap: 60px;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;

    width: 100%;
    height: 390px;
    text-align: center;

    opacity: 0;
    transform: translateY(60px);

    transition: opacity 1.5s, transform 1.5s;

    li {
        width: 25%;
        border: 4px solid $container-color;
        height: 100%;
        cursor: pointer;
        padding: 20px;
        
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        transition: border-color 0.5s, transform 0.5s;

        &:hover {
            border-color: $generic-orange;
            transform: scale(1.2);

            .number-container {
                border-color: $generic-orange;
                color: $generic-orange;
            }
            .text-price {
                color: $generic-orange;
            }
        }

        p {
            font-size: 0.5rem;
            font-family: cursive;
            margin: 45px 0;
            line-height: 2.2;
        }

        a {font-size: 0.8rem;}
    }
}

.number-container {
    border: 4px solid $container-color;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.1rem;

    transition: border-color 0.5s, color 0.5s;
}

.text-price {
    font-weight: bold;
    font-size: 1.3rem;
    transition: color 0.5s;
}
